/* your custom css */

body {
	background-color: #f4f6f7;
	font-family: $bodyFont;
}

.docMainWrapper {
	margin: 50px auto;
	width: 80%;
	background: #FFF;
	border-radius: 10px;
	border: 2px solid #000;
}

.button {
	background: #FEE77B;
	border: 2px solid #2C2C2C;
	border-radius: 5px;
	color: #000;
	padding: 20px;
}

article iframe {
	border: 5px #F29094 solid;
    border-radius: 10px;
}

.navGroup .collapsible {
	font-size: 16px;
	background: url("../img/menu-selection-bg.jpg") no-repeat;
	padding: 10px;
	margin: 0;
}

.navGroup:nth-child(1) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_intro.svg');
}

.navGroup:nth-child(2) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_plastic.svg');
}

.navGroup:nth-child(3) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_build.svg');
}

.navGroup:nth-child(4) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_collect.svg');
}

.navGroup:nth-child(5) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_create.svg');
}

.navGroup:nth-child(6) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_business.svg');
}

.navGroup:nth-child(7) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_starterkits.svg');
}

.navGroup:nth-child(8) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_experiments.svg');
}

.navGroup:nth-child(9) .collapsible {
  background-image: url('/docs-demo/img/menu-selection-bg.jpg');
}

.navGroup:nth-child(10) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_questions.svg');
}

.navGroup:nth-child(11) .collapsible {
  background-image: url('/docs-demo/img/highlight_stroke_download.svg');
}

.toc .toggleNav .navGroup  ul {
	border-left: 4px solid #E9E9E9;
	padding: 0;
	margin-left: 10px;
	visibility: visible;
  	opacity: 1;
  	height: auto;
  	transition:  all 0.5s, visibility 0s linear;
}

.toc .toggleNav .navGroup  ul.hide {
	visibility: hidden;
  	opacity: 0;
  	transition: all 0.5s, visibility 0s linear;
  	display: block;
  	height: 0;
  	margin: 0;
}

.toc .toggleNav .navGroup  ul li.navListItem {
	margin-left: -4px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.navGroup  ul li.navListItemActive {
	border-left: 4px solid #F29094;
}

.navGroup  .arrow {
	display: none;
}

.onPageNav {
  	display: none;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
