/* your custom css */

body {
  background-color: #f4f6f7;
  font-family: $bodyFont;
}

.docMainWrapper {
  margin: 50px auto;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #000;
}

.wrapper {
  padding: 0 50px;
}

.button {
  background: #fee77b;
  border: 2px solid #2c2c2c;
  border-radius: 5px;
  color: #000;
  padding: 20px;
}

article .videocontainer {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 45px;
}

article iframe {
	border: 5px #F29094 solid;
    border-radius: 10px;
    margin: 20px 0;
    width: 100%;
}

article .videocontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
	height: 100%; 
}
a {
  color: var(--highlight, $primaryColor);
}

.navGroup ul li.navListItem {
  border-color: transparent;
}

.navGroup ul li.navListItem:hover {
  border-left: 4px var(--highlight, $primaryColor) solid;
  transition: border-color 0.3s;
}

.navGroup ul li.navListItem:hover a {
  margin-left: -4px;
}

.toc .toggleNav ul li.navListItemActive a {
  color: $defaultFontColor;
  margin-left: -4px;
}

.toc .toggleNav ul li a {
  color: #afafaf;
}

.toc .toggleNav ul li a:hover,
.toc .toggleNav ul li a:focus {
  color: $defaultFontColor;
}

a:hover {
  color: var(--hover, $primaryColor);
}

article iframe {
  border: 5px solid var(--highlight, $primaryColor);
  border-radius: 10px;
}

article div span h1:first-child {
  margin-top: 0;
}

.navGroup .collapsible {
  font-size: 16px;
  background: url("../img/menu-selection-bg.jpg") no-repeat;
  padding: 10px;
  margin: 0;
}

.navGroup:nth-child(1) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_intro.svg");
}

.navGroup:nth-child(2) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_plastic.svg");
}

.navGroup:nth-child(3) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_build.svg");
}

.navGroup:nth-child(4) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_collect.svg");
}

.navGroup:nth-child(5) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_create.svg");
}

.navGroup:nth-child(6) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_business.svg");
}

.navGroup:nth-child(7) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_starterkits.svg");
}

.navGroup:nth-child(8) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_experiments.svg");
}

.navGroup:nth-child(9) .collapsible {
  background-image: url("/docs-demo/img/menu-selection-bg.jpg");
}

.navGroup:nth-child(10) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_questions.svg");
}

.navGroup:nth-child(11) .collapsible {
  background-image: url("/docs-demo/img/highlight_stroke_download.svg");
}

.toc .toggleNav .navGroup  ul {
	border-left: 4px solid #E9E9E9;
	padding: 0;
	margin-left: 10px;
	visibility: visible;
  	opacity: 1;
  	height: auto;
  	transition:  all 0.5s, visibility 0s linear;
}

.toc .toggleNav .navGroup  ul.hide {
	visibility: hidden;
  	opacity: 0;
  	transition: all 0.5s, visibility 0s linear;
  	display: block;
  	height: 0;
  	margin: 0;
}

.toc .toggleNav .navGroup ul li.navListItem {
  margin-left: -4px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.navGroup ul li.navListItemActive {
  border-left: 4px solid var(--highlight, $primaryColor);
}

.navGroup .arrow {
  display: none;
}

.onPageNav {
  	display: none;
}

.postHeaderTitle {
  display: none;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .toc {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
