/* your custom css */

body {
  background-color: #f4f6f7;
  font-family: $bodyFont;
}

.wrapper {
  padding: 0 20px;
}

.button {
  background: #fee77b;
  border: 2px solid #2c2c2c;
  border-radius: 5px;
  color: #000;
  padding: 20px;
}

a {
  color: var(--highlight, $primaryColor);
}

.navGroup ul li.navListItem {
  border-color: transparent;
}

.navGroup ul li.navListItem:hover {
  border-left: 4px var(--highlight, $primaryColor) solid;
  transition: border-color 0.3s;
}

.navGroup ul li.navListItem:hover a {
  margin-left: -4px;
}

.toc .toggleNav ul li.navListItemActive a {
  color: $defaultFontColor;
  margin-left: -4px;
}
.toc .toggleNav .navGroup ul li.navListItem {
  position: relative;
  z-index: 1;
}

.toc .toggleNav ul li a {
  color: #afafaf;
}

.toc .toggleNav ul li a:hover,
.toc .toggleNav ul li a:focus {
  color: $defaultFontColor;
}

a:hover {
  color: var(--hover, $primaryColor);
}

article .videocontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 45px;
}

article iframe {
  border: 5px solid var(--highlight, $primaryColor);
  border-radius: 10px;
  margin: 20px 0;
  width: 100%;
}

article .videocontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

article div span h1:first-child {
  margin-top: 0;
}

.navGroup .collapsible {
  font-size: 16px;
  background-repeat: no-repeat;
  background-image: none;
  padding: 10px;
  margin: 0;
}

.navGroup {
  position: relative;
}

.navGroup h3 {
  position: relative;
  z-index: 1;
}

.navGroup ul:after {
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.navGroup:nth-child(1) .collapsible:hover,
.navGroup:nth-child(1) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_intro.svg");
  background-size: 102.68px 39.91px;
}

.navGroup:nth-child(2) .collapsible:hover,
.navGroup:nth-child(2) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_plastic.svg");
  background-size: 138.01px 41.37px;
}

.navGroup:nth-child(3) .collapsible:hover,
.navGroup:nth-child(3) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_build.svg");
  background-size: 135.23px 44.16px;
}

.navGroup:nth-child(4) .collapsible:hover,
.navGroup:nth-child(4) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_collect.svg");
  background-size: 154.69px 44.96px;
}

.navGroup:nth-child(5) .collapsible:hover,
.navGroup:nth-child(5) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_create.svg");
  background-size: 136.83px 37px;
}

.navGroup:nth-child(6) .collapsible:hover,
.navGroup:nth-child(6) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_business.svg");
  background-size: 173.72px 36.5px;
}

.navGroup:nth-child(7) .collapsible:hover,
.navGroup:nth-child(7) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_starterkits.svg");
  background-size: 174.46px 42.01px;
}

.navGroup:nth-child(8) .collapsible:hover,
.navGroup:nth-child(8) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_experiments.svg");
  background-size: 243.5px 49.04px;
}

.navGroup:nth-child(9) .collapsible:hover,
.navGroup:nth-child(9) ul:after {
  background-image: url("/docs-demo/img/menu-selection-bg.jpg");
  background-size: 192px 35px;
}

.navGroup:nth-child(10) .collapsible:hover,
.navGroup:nth-child(10) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_questions.svg");
  background-size: 148.4px 39.91px;
}

.navGroup:nth-child(11) .collapsible:hover,
.navGroup:nth-child(11) ul:after {
  background-image: url("/docs-demo/img/highlight_stroke_download.svg");
  background-size: 201.44px 46.2px;
}

.toc .toggleNav .navGroup ul {
  border-left: 4px solid #e9e9e9;
  padding: 0;
  visibility: visible;
  opacity: 1;
  margin-left: 10px;
  height: auto;
  transition: all 0.5s, visibility 0s linear;
}

.toc .toggleNav .navGroup ul.hide {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s, visibility 0s linear;
  display: block;
  border-left: 4px solid transparent;
  height: 0;
  margin: 0;
  margin-left: 10px;
}

.toc .toggleNav .navGroup ul li.navListItem {
  margin-left: -4px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.toggleNav h2 i {
  font-style: normal;
}

.navGroup ul li.navListItemActive {
  border-left: 4px solid var(--highlight, $primaryColor);
}

.navGroup .arrow {
  display: none;
}

.onPageNav {
  display: none;
}

.postHeaderTitle {
  display: none;
}

.videoChapters {
  display: flex;
}

.videoChaptersMain {
  width: 75%;
  margin-right: 5%;
}

.videoChaptersSidebar ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.videoChaptersSidebar li {
  color: #bababa;
  font-size: 13px;
  margin-bottom: 15px;
}

.videoChaptersSidebar li:last-child {
  margin-bottom: 0;
}

.tns-outer {
  position: relative;
}

.tns-controls {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tns-nav {
  display: flex;
  justify-content: center;
}

.tns-nav button {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1; /* 1 */
  margin: 0 8px 0 0; /* 2 */
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  background-color: $primaryFade;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  padding: 0;
}

button.tns-nav-active {
  background-color: $primaryColor;
}

.tns-controls button {
  font-family: inherit; /* 1 */
  font-size: 200%; /* 1 */
  line-height: 1; /* 1 */
  margin: 0; /* 2 */
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  transition: color 300ms;
}

.tns-controls button:hover {
  color: rgba(255, 255, 255, 1);
}

.navigationSlider .slidingNav ul {
  margin-bottom: 0;
  background-color: $primaryColor;
}

.navigationSlider .slidingNav ul li.siteNavItemActive > a:focus,
.navigationSlider .slidingNav ul li.siteNavItemActive > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a {
  background-color: $primaryShade;
}

.icon-list {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.icon-list img {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
}

.icon-list div {
  margin-right: 70px;
}

.icon-list div::after {
  content: attr(data-label);
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 0.9em;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .toc {
    padding: 50px 0;
  }

  .docMainWrapper {
    margin: 50px auto;
    width: 80%;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #000;
  }

  .wrapper {
    padding: 0 50px;
  }
}
